.box_calculator_index{
    background-color: #3f3f3f;
    color: white;
}
.box_calculator{
    min-width: 250px;
}

.input_calculator{ 
    min-width: 20px;
    background-color: #2f2f2f;
    border-color: #3fff3f;
    color: white;
}