@import url("./login.css");
@import url("./register.css");
@import url("./home.css");
@import url("./plots.css");

.window{
    background-repeat: no-repeat;
    background-size: cover;
}

entry{
    background-color: white;
    min-width: 300px;
    color: black;
}

.input{
    border: transparent;
    background-color: white;
    min-width: 100px;
    color: black;
    padding: 0px;
}

.button{
    border: transparent;
    background: transparent;
    background-color: #00B477;
}

.button:active{
    background-color: #018055;
}

dropdown{
    background-color: transparent;
    background: transparent;
    border: transparent;
    padding: 0px;
    min-height: 10px;
    margin: 0px;
}

.link{
    background: transparent;
    color: blue;
}
